<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kotei.web.dao.UserMapper">
    
    <select id="getUsers" resultType="com.kotei.web.entity.User">
      select * from SYS_USER
    </select>

</mapper>